@inject HttpClient Http

@using DriveTogetherApp.Shared.Model
<ul class="list-unstyled">
    @foreach (var auto in Autos){
        <div class="medai-body">
            <a href="#">
                <h4 class="mb-0">@auto.Fahrtenanbieter</h4>
            </a>
            <p>@auto.Marke</p>
            <h5 class="price">
                @auto.Modell
            </h5>
        </div>
    }
</ul>

@code {
    private static List<Auto> Autos = new List<Auto>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Auto>>("api/Auto");
        if (result != null)
            Autos = result;
    }
}
 