@page "/meine-autos"
@using System.Security.Claims
@inject IAutoService AutoService
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (autos == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var auto in autos)
    {
        <div>
            <a href="/auto/@auto.AutoId">
                <h4 class="mb-0">ID: @auto.AutoId</h4>
            </a>
            <p><strong>Marke:</strong> @auto.Marke</p>
            <p><strong>Modell:</strong> @auto.Modell</p>
            // ... weitere Auto-Details ...
        </div>
    }
}


@code {
    private List<Auto> autos;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        Console.WriteLine(userId);

        if (!string.IsNullOrEmpty(userId))
        {
            var response = await AutoService.GetAutosByUserId(userId);
            if (response != null && response.Data != null)
            {
                autos = response.Data;
            }
        }
    }
}