@page "/auto/{id:int}"
@inject IAutoService AutoService

@if(auto == null)
{
    <span>@message</span>

}else
{
    <EditForm Model = "auto" OnValidSubmit="HandleUpdateCar">
        <div class="mb-3">
            <label for="id">AutoId: @auto.AutoId</label>
        </div>
        <div class="mb-3">
            <label for="marke">Marke</label>
            <InputText id="marke" @bind-Value="auto.Marke" class="form-control"/>
        </div>

        <div class="mb-3">
            <label for="modell">Modell</label>
            <InputText id="modell" @bind-Value="auto.Modell" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="farbe">Farbe</label>
            <InputText id="farbe" @bind-Value="auto.Farbe" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="kennzeichen">Kennzeichen</label>
            <InputText id="kennzeichen" @bind-Value="auto.Kennzeichen" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="baujahr">Baujahr</label>
            <InputDate id="baujahr" @bind-Value="auto.Baujahr" class="form-control" />
        </div>

        <div class="form-group">
            <label for="typ">Typ:</label>
            <InputSelect id="typ" class="form-control" @bind-Value="auto.Typ">
                <option value="">Wählen Sie einen Typ...</option>
                <option value="Limousine">Limousine</option>
                <option value="SUV">SUV</option>
                <option value="Coupe">Coupe</option>
            </InputSelect>
        </div>

        <button typeof="submit" class="btn btn-primary">Updaten</button>
    </EditForm>

}

@code {
    private Auto? auto = null;
    private string message= string.Empty;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading Auto...";

        var result = await AutoService.GetAuto(Id);
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            auto = result.Data;
        }
    }

    private async Task HandleUpdateCar()
    {
        if (auto != null)
        {
            var result = await AutoService.UpdateAuto(auto);
            if (result.Success)
            {
                message = "Auto erfolgreich aktualisiert.";
            }
            else
            {
                message = "Fehler beim Aktualisieren des Autos: " + result.Message;
            }
        }
    }
}
